doctype html
html
    include base.pug
    div(style="text-align: center; margin-top: 30px;")
        h2.txt="About Lil Nodes:"
        div(class="txt", style="margin-top: 30px;") Lil Nodes is a small platform to run serverless functions embedded in a URL, the service works by encrypting your code and appending it to our api url.
        h3(class="txt", style="margin-top: 20px;") Dependencies
        div(class="txt", style="margin-top: 15px;") Dependencies can be included with require("module");. they will be automatically installed if they are not cached. 
        include:markdown-it content/about.md