doctype html
html
  head
    style
      include style.css
    title= "Lil Nodes"
    link(rel="icon",  type="image/png", href="/knot.png")
  body
    div#header.center
        div.center
            img(src="knot.png", alt="Knot img", id="header-img")
            h1#header-title= "Lil Nodes"
        div.center
            a(class="nav-link", href="/") Editor
            a(class="nav-link", href="/about") About