include base.pug
div
    h3="Function:"
    div#editor
    h3="Dependencies:"
    div.center
        div#dependencies
            div#dep-list
            div.center
                input(type="text", placeholder="package name", spellcheck="false", name="", id="dep-input")
                button(class="btn") ➕
    div.center.button-group
        button(id="create-node" class="nav-link") Create
    div.center
        h3="Created Nodes:"
    script(src='/codeflask.min.js')
    script(src='/editor.js')