@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(48, 48, 48);
    font-family: Arial, sans-serif;
    color: rgba(184, 184, 184, 0.815);
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: hsl(0, 0%, 33%);
}

body::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 57%, 0.959);
}

#header {
    justify-content: space-between;
    background: rgb(165, 165, 165);
    padding: 10px;
    color: rgb(44, 44, 44);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#header-title {
    font-size: 1.2em;
    margin-left: 5px;
}

#header-img {
    width: 2em;
    height: 2em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    padding: 6px;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    display: block;
    transition: all 120ms ease-in-out;
    cursor: pointer;
    font-family: "Fira Code", monospace;
    font-size: 12px;
    font-weight: bold;
}

.nav-link:hover {
    -webkit-box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.31);
    box-shadow: 1px 5px 4px 3px rgba(0, 0, 0, 0.31);
}

.nav-link:active {
    transform: translateY(1px);
}

.nav-link:last-child {
    margin-right: 10px;
}

.txt {
    color: rgba(214, 214, 214, 0.815);
}

.codeflask {
    width: 100% !important;
    height: 70vh !important;
    border: 2px solid rgba(97, 97, 97, 0.815);
    border-radius: 5px;
    position: relative !important;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(206, 206, 206);
}

.codeflask__textarea {
    background: rgba(167, 167, 167, 0.301) !important;
}

.button-group {
    margin: 15px;
}

#dependencies {
    width: 40%;
    border: 1px solid white;
    height: 15vh;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

#dep-list {
    flex-grow: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#dep-list::-webkit-scrollbar {
    display: none;
}

#dep-input {
    border: 0px;
    outline: none;
    border-top: 1px solid rgb(185, 185, 185);
    background: transparent;
    color: white;
    font-size: 15px;
    flex-grow: 1;
    padding: 4px;
}

.btn {
    background: transparent;
    border: 0px;
    outline: none;
    background: rgb(206, 205, 205);
    padding: 4px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(172, 172, 172);
}

.btn:active {
    background: rgb(153, 153, 153);
}

.md  ul li:before {
    content: "•";
    color: rgb(141, 141, 141);
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.md p {
    margin: 10px;
}

.dep {
    padding: 3px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.filler {
    width: 30%;
}

#editor-container {
    display: flex;
    justify-content: center;
}

#editor {
    width: 100%;
}

.filename {
    margin-left: 35%;
    margin-right: 10px;
    border-radius: 3px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
    user-select: none;
    cursor: pointer;
    margin-bottom: 7px;
}

.filename:hover {
    background: rgba(177, 176, 176, 0.356);
}

.filename:active {
    background: rgba(156, 155, 155, 0.356);
}

.f-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.good {
    background: rgba(105, 230, 105, 0.877);
}

.bad {
    background: rgba(235, 102, 102, 0.726);
}

.selected-file {
    border: 2px solid rgb(192, 192, 192);
}

.disabled {
    background: rgba(109, 109, 109, 0.712);
}

.action {
    background: rgba(228, 231, 37, 0.836);
}

.test {
    background: rgb(53, 130, 218);
}